/* Notices Viewlet Styles */
#notices-viewlet {
  display: block;
}
#notices-viewlet .notice {
  display: block;
  position: relative;
  background-color: #FFFFE3;
  border: 1px solid #999966;
  margin: 5px 0;
  padding: 0.5em;
  font-size: 12px;
}
#notices-viewlet .notice-actions-container {
  position: absolute;
  top: 0;
  right: 3px;
}
#notices-viewlet .notice-action {
  display: block;
  font-size: 9px;
}
#notices-viewlet .icon-hide:after {
  content:"X";
}
/* Only display content to screen readers
   see: http://a11yproject.com/posts/how-to-hide-content/
   stolen from bootstrap
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* Notices Control Panel Styles */
#add-notice-container {
    text-align: right;
    clear: both;
    margin-bottom: 1em;
}
#notices-container .notice {
    border-style: solid solid solid;
}
#notices-container .notice-text {
  display: block;
  width: 95%;
  border: 1px solid #329FD7;
  padding: 5px;
  margin-bottom: 10px;
}
#notices-container .notice-actions-container {
    float: right;
}
#notices-container .notice-action {
    display: block;
}
#notices-container .notice-display-status {
  float: left;
  margin-right: 1em;
}
#notices-container .notice-display-users {
  float: left;
}
#notices-container .notice-display-period {
  float: right;
}
#notices-container .notice.inactive .state {
  color: red;
}
#notices-container .batch-navigation {
    list-style-type: none;
    text-align: center;
}
#notices-container .batch-navigation li {
  display: inline;
}
